{% extends 'core/layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="list-container">
        <center><h1>Вход</h1></center>
        <form method="POST">
            {% csrf_token %} 
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username">
            <br>
            <label for="pass">Пароль</label>
            <input type="password" class="form-control" id="pass" placeholder="password">
            <br>
            <center><button type="submit" class="btn btn-outline-info">Войти</button></center>
        </form>
    </div>
</div>
{% endblock %}